body{
    margin:0;
    font-family:Arial;
    background:#0B1F5E;
    height:100vh;
}

.container{
    width:800px;
    height:500px;
    background:white;
    border-radius:20px;
    display:flex;
    overflow:hidden;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

/* esquerda */

.left{
    width:40%;
    background:#0d2268;
    color:white;
    padding:30px;
}

.left h1{
    font-size:50px;
}

.left span{
    color:orange;
}

.left h2{
    margin-top:40px;
}

.left p{
    margin-top:20px;
    line-height:25px;
}

/* direita */

.right{
    width:60%;
    padding:40px;
}

.right h1{
    color:#0B1F5E;
}

.input-box{
    margin-top:20px;
}

.input-box input{
    width:100%;
    padding:15px;
    border-radius:10px;
    border:1px solid gray;
    margin-top:8px;
}

button{
    width:100%;
    padding:15px;
    margin-top:30px;
    border:none;
    border-radius:10px;
    background:orange;
    color:white;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#ff9100;
}

.voltar{
    text-align:center;
    margin-top:20px;
}

.voltar a{
    text-decoration:none;
    color:#0B1F5E;
}