<!DOCTYPE html>
<html lang="pt-br">
<head>
    <a href="login.html">Ir para Contato</a>
    <meta charset="UTF-8">
    <title>Home - Almoxarifado</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="sidebar">
    <h2>SENAI</h2>
    <a href="home.html">Home</a>
    <a href="novos-itens.html">Novos Itens</a>
    <a href="entrada-saida.html">Entrada e Saída</a>
    <a href="login.html">Login</a>
</div>

<div class="main">
    <h1>Home - Sistema de Almoxarifado</h1>

    <div class="card">
        <h2>Estoque Atual</h2>
        <p>0 itens</p>
    </div>

    <div class="card">
        <h2>Entradas Hoje</h2>
        <p>0 itens</p>
    </div>

    <div class="card">
        <h2>Saídas Hoje</h2>
        <p>0 itens</p>
    </div>
</div>

</body>
</html>
