<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/stylelogin.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<script src="../static/scripts.js"></script>
<title>Login SENAI</title>

</head>

<body>

<div class="container">

  <!-- ESQUERDA -->
  <div class="left">
    <div>
      <h1>SENAI</h1>
    </div>
  </div>

  <!-- DIREITA -->
  <div class="right">

    <div class="box">

      <h2>Login</h2>
      <form action="/home.html" method="POST">
      <input type="text" placeholder="Usuário">

      <input type="password" placeholder="Senha" name="senha">

      <div class="check">
      <br> ADM </br>
      <input type="checkbox" id="adm"> 
      </div>

      <button type="submit">Entrar</button>
      </form>
      <button  onclick="criarConta()">Criar conta</button>
    </div>

  </div>

</div>
</body>
</html>